@charset "UTF-8";
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url(font-awesome.min.css);

/* skel-baseline v2.0.0 | (c) n33 | getskel.com | MIT licensed */

/* Basic */

	body {
		background: #fff;
	}

	body, input, select, textarea {
		color: #222222;
		font-family: 'Source Sans Pro', Arial, sans-serif;
		font-weight: 400;
		font-size: 11pt;
		/*font-size: 13pt;*/
		/*font-weight: normal;*/
		/*letter-spacing: 0.025em;*/
		line-height: 1.65em;
	}

	a {
		color: #01579B;
		text-decoration: none;
		/*text-decoration: underline;*/
	}

		a:hover {
		/*text-decoration: none;*/
		text-decoration: underline;
		}

	strong, b {
		color: #000;
		font-weight: bold;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #363636;
		/*font-weight: bold;*/
		line-height: 1em;
		margin: 0 0 1em 0;
		/*text-transform: uppercase;*/
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h2 {
		font-size: 1.75em;
		line-height: 1.5em;
	}

	h3 {
		font-size: 1.35em;
		line-height: 1.5em;
	}

	h4 {
		font-size: 1.1em;
		line-height: 1.5em;
	}

	h5 {
		font-size: 0.9em;
		line-height: 1.5em;
	}

	h6 {
		font-size: 0.7em;
		line-height: 1.5em;
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	hr {
		border: 0;
		border-bottom: solid 1px rgba(144, 144, 144, 0.25);
		margin: 2em 0;
	}

		hr.major {
			margin: 3em 0;
		}

	blockquote {
		border-left: solid 4px rgba(144, 144, 144, 0.25);
		font-style: italic;
		margin: 0 0 2em 0;
		padding: 0.5em 0 0.5em 2em;
	}

	code {
		background: rgba(144, 144, 144, 0.075);
		border-radius: 4px;
		border: solid 1px rgba(144, 144, 144, 0.25);
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0 2em 0;
	}

		pre code {
			display: block;
			line-height: 1.75em;
			padding: 1em 1.5em;
			overflow-x: auto;
		}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	header {
		/*text-transform: uppercase;*/
		color: #363636;
	}

	header p {
		color: #424242;
		position: relative;
		margin: 0 0 1.5em 0;

	}

	header h2 + p {
		font-size: 1.25em;
		margin-top: -1em;
		line-height: 1.5em;
	}

	header h3 + p {
		font-size: 1.1em;
		margin-top: -0.8em;
		line-height: 1.5em;
	}

	header h4 + p,
	header h5 + p,
	header h6 + p {
		font-size: 0.9em;
		margin-top: -0.6em;
		line-height: 1.5em;
	}

/* Form */

	form {
		margin: 0 0 2em 0;
	}

	label {
		color: #666;
		display: block;
		font-size: 0.9em;
		font-weight: bold;
		margin: 0 0 1em 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: rgba(144, 144, 144, 0.075);
		border-radius: 4px;
		border: none;
		border: solid 1px rgba(144, 144, 144, 0.25);
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		select:focus,
		textarea:focus {
			border-color: #49bf9d;
			box-shadow: 0 0 0 1px #49bf9d;
		}

	.select-wrapper {
		text-decoration: none;
		display: block;
		position: relative;
	}

		.select-wrapper:before {
			content: "";
			/*content: "\f00d";*/
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.select-wrapper:before {
			color: rgba(144, 144, 144, 0.25);
			display: block;
			height: 2.75em;
			line-height: 2.75em;
			pointer-events: none;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: 2.75em;
		}

		.select-wrapper select::-ms-expand {
			display: none;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: 2.75em;
	}

	textarea {
		padding: 0.75em 1em;
	}

	input[type="checkbox"],
	input[type="radio"] {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		display: block;
		float: left;
		margin-right: -2em;
		opacity: 0;
		width: 1em;
		z-index: -1;
	}

		input[type="checkbox"] + label,
		input[type="radio"] + label {
			text-decoration: none;
			color: #444;
			cursor: pointer;
			display: inline-block;
			font-size: 1em;
			font-weight: normal;
			padding-left: 2.4em;
			/*padding-right: 0.75em;*/
			position: relative;
		}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				background: rgba(144, 144, 144, 0.075);
				border-radius: 4px;
				/*border: solid 1px rgba(144, 144, 144, 0.25);*/
				content: '';
				display: inline-block;
				height: 1.5em;
				/*height: 1.65em;*/
				left: 0;
				line-height: 1.58125em;
				position: absolute;
				text-align: center;
				top: 0;
				width: 1.5em;
				/*width: 1.65em;*/
			}

		input[type="checkbox"]:checked + label:before,
		input[type="radio"]:checked + label:before {
			background: #666666;
			border-color: #666666;
			color: #ffffff;
			content: '\f00c';
		}

		input[type="checkbox"]:focus + label:before,
		input[type="radio"]:focus + label:before {
			/*border-color: #49bf9d;*/
			/*box-shadow: 0 0 0 1px #49bf9d;*/
		}

	input[type="checkbox"] + label:before {
		border-radius: 4px;
	}

	input[type="radio"] + label:before {
		/*border-radius: 100%;*/
	}

	::-webkit-input-placeholder {
		color: #bbb !important;
		opacity: 1.0;
	}

	:-moz-placeholder {
		color: #bbb !important;
		opacity: 1.0;
	}

	::-moz-placeholder {
		color: #bbb !important;
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		color: #bbb !important;
		opacity: 1.0;
	}

	.formerize-placeholder {
		color: #bbb !important;
		opacity: 1.0;
	}

/* Box */

	.box {
		border-radius: 4px;
		border: solid 1px rgba(144, 144, 144, 0.25);
		margin-bottom: 2em;
		padding: 1.5em;
	}

		.box > :last-child,
		.box > :last-child > :last-child,
		.box > :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

		.box.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
		}

/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

/* Image */

	.image {
		/*border-radius: 4px;*/
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			/*border-radius: 4px;*/
			display: block;
		}

		.image.left {
			float: left;
			padding: 0 1.5em 1em 0;
			top: 0.25em;
		}

		.image.right {
			float: right;
			padding: 0 0 1em 1.5em;
			top: 0.25em;
		}

		.image.left, .image.right {
			max-width: 40%;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.fit {
			display: block;
			margin: 0 0 2em 0;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}

/* List */

	ol {
		list-style: decimal;
		margin: 0 0 2em 0;
		padding-left: 1.25em;
	}

		ol li {
			padding-left: 0.25em;
		}

	ul {
		/*list-style: disc;*/
		list-style: none;
		margin: 0 0 2em 0;
		/*padding-left: 1em;*/
	}

		ul li {
			/*padding-left: 0.5em;*/
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt li {
				/*border-top: solid 1px red;*/
				/*border-top: solid 1px rgba(255,255,255, 0.12);*/
				border-top: solid 1px #1F1F1F;
				/*border-top: solid 1px rgba(144, 144, 144, 0.25); vanilla*/
				padding: 0.5em 0;
			}

				ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}

		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1em 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0;
				}

				ul.icons li .icon:before {
					font-size: 2em;
				}

		ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.actions li {
				display: inline-block;
				padding: 0 1em 0 0;
				vertical-align: middle;
			}

				ul.actions li:last-child {
					padding-right: 0;
				}

			ul.actions.small li {
				padding: 0 0.5em 0 0;
			}

			ul.actions.vertical li {
				display: block;
				padding: 1em 0 0 0;
			}

				ul.actions.vertical li:first-child {
					padding-top: 0;
				}

				ul.actions.vertical li > * {
					margin-bottom: 0;
				}

			ul.actions.vertical.small li {
				padding: 0.5em 0 0 0;
			}

				ul.actions.vertical.small li:first-child {
					padding-top: 0;
				}

			ul.actions.fit {
				display: table;
				margin-left: -1em;
				padding: 0;
				table-layout: fixed;
				width: calc(100% + 1em);
			}

				ul.actions.fit li {
					display: table-cell;
					padding: 0 0 0 1em;
				}

					ul.actions.fit li > * {
						margin-bottom: 0;
					}

				ul.actions.fit.small {
					margin-left: -0.5em;
					width: calc(100% + 0.5em);
				}

					ul.actions.fit.small li {
						padding: 0 0 0 0.5em;
					}

	dl {
		margin: 0 0 2em 0;
	}

/* Table */
/*
	.table-wrapper {
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
	}

	table {
		margin: 0 0 2em 0;
		width: 100%;
	}

		table tbody tr {
			border: solid 1px rgba(144, 144, 144, 0.25);
			border-left: 0;
			border-right: 0;
		}

			table tbody tr:nth-child(2n + 1) {
				background-color: rgba(144, 144, 144, 0.075);
			}

		table td {
			padding: 0.75em 0.75em;
		}

		td.title,
		td.title a {
			padding: 0.75em 0.75em;
			color: inherit;
			font-style: italic;
			text-decoration: none;
		}

		table th {
			color: #666;
			font-size: 0.9em;
			font-weight: bold;
			padding: 0 0.75em 0.75em 0.75em;
			text-align: left;
		}

		table thead {
			border-bottom: solid 2px rgba(144, 144, 144, 0.25);
		}

		table tfoot {
			border-top: solid 2px rgba(144, 144, 144, 0.25);
		}

		table.alt {
			border-collapse: separate;
		}

			table.alt tbody tr td {
				border: solid 1px rgba(144, 144, 144, 0.25);
				border-left-width: 0;
				border-top-width: 0;
			}

				table.alt tbody tr td:first-child {
					border-left-width: 1px;
				}

			table.alt tbody tr:first-child td {
				border-top-width: 1px;
			}

			table.alt thead {
				border-bottom: 0;
			}

			table.alt tfoot {
				border-top: 0;
			}*/

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: #666666;
		/*border-radius: 2px;*/
		border: 0;
		border-bottom: 2px #444444 solid;
		color: #ffffff !important;
		cursor: pointer;
		display: inline-block;
		/*font-weight: bold;*/
		letter-spacing: 0.05em;
		height: 2.85em;
		line-height: 2.95em;
		padding: 0 1.5em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		.button:hover {
			background-color: #737373;
			text-decoration: none;

		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		.button:active {
			background-color: #595959;
		}

		input[type="submit"].icon,
		input[type="reset"].icon,
		input[type="button"].icon,
		.button.icon {
			padding-left: 1.35em;
		}

			input[type="submit"].icon:before,
			input[type="reset"].icon:before,
			input[type="button"].icon:before,
			.button.icon:before {
				margin-right: 0.5em;
			}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		.button.fit {
			display: block;
			margin: 0 0 1em 0;
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		.button.small {
			font-size: 0.8em;
		}

		input[type="submit"].big,
		input[type="reset"].big,
		input[type="button"].big,
		.button.big {
			font-size: 1.35em;
		}

		input[type="submit"].alt,
		input[type="reset"].alt,
		input[type="button"].alt,
		.button.alt {
			background-color: transparent;
			box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
			color: #666 !important;
			border-bottom: 2px #ddd solid !important;
		}

			input[type="submit"].alt:hover,
			input[type="reset"].alt:hover,
			input[type="button"].alt:hover,
			.button.alt:hover {
				background-color: rgba(144, 144, 144, 0.075);
			}

			input[type="submit"].alt:active,
			input[type="reset"].alt:active,
			input[type="button"].alt:active,
			.button.alt:active {
				background-color: rgba(144, 144, 144, 0.2);
			}

			input[type="submit"].alt.icon:before,
			input[type="reset"].alt.icon:before,
			input[type="button"].alt.icon:before,
			.button.alt.icon:before {
				color: #bbb;
			}

		input[type="submit"].special,
		input[type="reset"].special,
		input[type="button"].special,
		.button.special {
			background-color: #49bf9d;
			color: #ffffff !important;
		}

			input[type="submit"].special:hover,
			input[type="reset"].special:hover,
			input[type="button"].special:hover,
			.button.special:hover {
				background-color: #5cc6a7;
			}

			input[type="submit"].special:active,
			input[type="reset"].special:active,
			input[type="button"].special:active,
			.button.special:active {
				background-color: #3eb08f;
			}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		.button.disabled,
		.button:disabled {
			background-color: #444 !important;
			box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
			color: #fff !important;
			cursor: default;
			opacity: 0.25;
		}
/* Banner */

	#skel-layers-wrapper {
		padding-top: 3.25em;
	}

	#banner-wrapper
	{
		background-size: cover;
		background-color: #111;
	}

		#banner-wrapper:before,

		{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			/*height: 100%;*/
		}


	#banner {
		position: relative;
		padding: 18em 0;
		text-align: center;
		text-transform: uppercase;
	}

		#banner :last-child {
			margin-bottom: 0;
		}

		#banner a {
			text-decoration: none;
		}

		#banner h2 {
			font-size: 2.5em;
			line-height: 1em;
			margin: 0 0 0.5em 0;
			padding: 0;
			color: #fff;
			letter-spacing: 0.25em;
		}

		#banner p {
			font-size: 1.0em;
			margin-bottom: 1.75em;
			color: #aaa;
			letter-spacing: 0.2em;
		}

/* */
		.home #logo,
		.comp #logo
		{
			width: 100%;
			position: absolute;
			opacity: 1;
			top: 10%;
			/* also in large */
		}

/* why doesn't this work again? is it the wrapper? */
		#logo.min {
		/*#nav.min #logo {*/
			opacity: 0;
/* 			top: -2%; */
		}

		#logo.min h2 {
/* 			font-size: 150%; */
			margin-bottom: 0;
		}
		#logo.min p {
/* 			font-size: 75%; */
		}

		.about #logo,
		.perf #logo
		{
			text-shadow: 0 0 3em #000;
		}

		.site-title {
            width: 0px;
            white-space: nowrap;
			opacity: 0;
/*             letter-spacing: -2px; */
		}

		.main-nav {
			width: 33%;
/*             letter-spacing: 1px; */
		}

		/*.site-title.min */
		#nav.min .site-title {
			width: 25%;
/* 			letter-spacing: 0px; */
			opacity: 1.0;

/*		    -webkit-transition-delay: 0s;
		    -moz-transition-delay: 0s;
		    -o-transition-delay: 0s;
		    transition-delay: 0s;
*/
		}

/* could specify up and down to change transition times */
		.anim .site-title {
			-webkit-transition: width 1.5s, opacity 1s 0.5s;
			-moz-transition: width 1.5s, opacity 1s 0.5s;
			-o-transition: width 1.5s, opacity 1s 0.5s;
			transition: width 1.5s, opacity 1s 0.5s;
		}

		.animdown .site-title {
			-webkit-transition: width 1.5s, opacity 0.5s;
			-moz-transition: width 1.5s, opacity 0.5s;
			-o-transition: width 1.5s, opacity 0.5s;
			transition: width 1.5s, opacity 0.5s;
		}

		/*.main-nav.min */
		#nav.min .main-nav {
			width: 25%;
		}

		.site-title,
		#nav {
			overflow: hidden;
		}

		.anim,
		.anim > a > h2,
		.anim > a > p,
/* 		.anim .site-title, */
		.anim .main-nav {
			-webkit-transition: all 1.5s;
			-moz-transition: all 1.5s;
			-o-transition: all 1.5s;
			transition: all 1.5s;
		}

		.subpage { background: url('../images/header/swish-1920-blue1.jpg') center center; }

		.subpage #banner {
			padding: 3.25em 0;
		}

		.home { background: url('../images/header/bbe.jpg') center center; }

		.perf {	background: url('../images/header/forest.jpg') center center; }

		.comp {	background: url('../images/header/bbe.jpg') center center;	}

		.about { background: url('../images/header/trailer-potlids2.jpg') center center; }

/* Header */

	#header {
		background: #111;
		color: #fff;
		cursor: default;
		height: 3.25em;
		left: 0;
		line-height: 3.25em;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10000;
		-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.95);
		box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.95);
	}

		#header nav {
			height: inherit;
			line-height: inherit;
			position: relative;
			top: 0;
			vertical-align: middle;
			text-transform: uppercase;
			text-align: center;
		}

			#header nav > ul {
				list-style: none;
				margin: 0;
				padding-left: 0;
			}

				#header nav > ul > li {
					display: inline-block;
					margin: 0;
					padding: 0;
				}

					#header nav > ul > li a {
						-moz-transition: color 0.2s ease-in-out;
						-webkit-transition: color 0.2s ease-in-out;
						-o-transition: color 0.2s ease-in-out;
						-ms-transition: color 0.2s ease-in-out;
						transition: color 0.2s ease-in-out;
						color: #b3b3b3;
						display: inline-block;
						text-decoration: none;
					}

						#header nav > ul > li a:hover {
							color: #fff;
						}

					#header nav > ul > li:first-child {
						margin-left: 0;
					}

					#header nav > ul > li .button {
						height: 2.25em;
						line-height: 2.25em;
						margin-bottom: 0;
						padding: 0 1em;
						position: relative;
						top: -0.075em;
						vertical-align: middle;
					}

		#header .container {
			position: relative;
		}

			#header .container h1 {
				left: 0;
			}

			#header .container nav {
				right: 0;
			}

/* Main */

	main {
		padding: 4em 0;
	}

/* Footer */

	footer {
		/*color: #B3B3B3;*/
		color: #363636;
		background: #111111;
		padding: 4em 0;
	}

	footer a {
		color: #B3B3B3;
		text-decoration: none;
	}

	footer h3 {
		/*color: #B3B3B3;*/
		color: #363636;
	}

		footer .copyright {
			color: #363636;
			/*background: #080808;*/
			font-size: 0.9em;
			margin: 2em 0 0 0;
			padding: 0;
			/*padding: 4em;*/
			text-align: center;
		}

			footer .copyright li {
				display: inline-block;
				list-style: none;
				margin-left: 1.5em;
				padding-left: 1.5em;
			}

				footer .copyright li:first-child {
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}

/* custom */
i.flat { font-family: 'Arial Unicode MS', 'Lucida Sans Unicode'; font-style: normal; }
i.flat:before {	content: '\266D'; }
/*i.flat:before {	content: '♭'; }*/

}
/*performances*/

.perf-title,
.upcoming > .row > header > h3 > a,
.upcoming h3 a {
	/* for some reason, removing this block and comments breaks */
	/*the code below*/
	/*color: #01579B;*/
	/*text-decoration: underline;*/
}

.upcoming h3 a {
	/*color: #01579B;*/
	text-decoration: underline;
}

.past div.year {
	/*margin-bottom: 2em;*/
}

.date h3, .date p {
	/*moved this to xmsall.css*/
	/*display: inline-block;*/
}

.past .year h3 {
	/*normal text size */
	/*font-size: 1.0em;*/
	/*line-height: 1.65em;*/
	/*margin-bottom: 0;*/
}

.past .row {
    border-bottom: 1px #eee solid;
}
.past .row:last-child {
    border-bottom: 0;
}

.past section > p,
.past h3 + p {
	/*display: none;*/
	/*content: 'read more...';*/
}

.past .row {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

/* comp */

.comp-link a {
	color: #888;
}
/*.comp-link:hover a,*/
.comp-link a:hover {
	color: #01579B;
}

section.complist {
	margin-bottom: 2em;
}

/*section.complist div.year > div*/
section.complist div.piece {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

/* year dividers section.complist div.year*/
section.complist div.piece {
    border-top: 1px #eee solid;
}

/*section.complist div.year:last-child*/
section.complist div.piece:first-of-type {
    border-top: 0;
}

section.complist div.sameyear {
	border-top: 0;
}
section.complist div.sameyear > div:first-child {
	opacity: 0; /* hide it same year */
}

/* only show year once */
section.complist div.year div.piece > div:first-child {
    /*opacity: 0;*/
}
section.complist div.year div.piece:first-child > div:first-child {
	/*opacity: 1.0;*/
}

.title,
.title a
{
	font-style: italic;
	text-decoration: none;
}

/* embed */

.embed {
    position: relative;
    padding: 0;
    padding-bottom: 56.25%; /* 16:9 ratio*/
    height: 0;
    overflow: hidden;
    margin-bottom: 2em;
}

.embed iframe,
.embed object,
.embed embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*contact list icons*/
.fa-ul > li i {
	/*top: 6px;*/
	margin-top: 4px;
}
