/* skel-baseline v2.0.0 | (c) n33 | getskel.com | MIT licensed */

/* Basic */

	body, input, select, textarea {
		font-size: 12pt;
	}

/* Banner */

	#banner {
		padding: 5em 2em 4em 2em;
	}

/*		#banner h2 {
			font-size: 2.25em;
		}

		#banner p {
			font-size: 1.25em;
		}*/

		#banner h2 {
			/*font-size: 3em;*/
			font-size: 1.75em;
			line-height: 1.75em;
			/*margin: 0 0 0.5em 0;*/
			/*padding: 0;*/
			/*color: #fff;*/

			/*letter-spacing: 0.25em;*/
		}

		#banner p {
			font-size: 1.0em;
			/*margin-bottom: 1.75em;*/
			/*color: #fff;*/

			color: #fff;
			/*color: rgba(255,255,255,0.5);*/
			/*letter-spacing: 0.2em;*/
		}

/* Main */

	main {
		padding: 2em 0;
	}

/* Footer */

	footer {
		padding: 2em 0;
	}

		footer .copyright li {
			border-left: 0;
			margin-left: 0;
			padding-left: 0;
			display: block;
		}