# Use PHP5.4 as default
AddHandler application/x-httpd-php54 .php

#
# Cache-Control
#

ExpiresActive On

# CSS

ExpiresByType text/css "access plus 1 week"

# JavaScript

ExpiresByType application/javascript "access plus 1 year"
ExpiresByType application/x-javascript "access plus 1 year"
ExpiresByType text/javascript "access plus 1 year"

# Media files

ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
ExpiresByType image/png "access plus 1 month"

# Web fonts

# Embedded OpenType (EOT)
ExpiresByType application/vnd.ms-fontobject "access plus 1 month"
ExpiresByType font/eot "access plus 1 month"

# OpenType
ExpiresByType font/opentype "access plus 1 month"

# TrueType
ExpiresByType application/x-font-ttf "access plus 1 month"

# Web Open Font Format (WOFF) 1.0
ExpiresByType application/font-woff "access plus 1 month"
ExpiresByType application/x-font-woff "access plus 1 month"
ExpiresByType font/woff "access plus 1 month"

# Web Open Font Format (WOFF) 2.0
ExpiresByType application/font-woff2 "access plus 1 month"


#
# Rewrites
#

RewriteEngine On
RewriteRule ^(.*)\.html$ $1.php [L]

# johnt.es/ke/ redirects to johnteskemusic.com/ke/
# the following links redirect from there

Redirect 301 /ke/bass-trailer/ /bass-trailer/

Redirect 301 /ke/facebook/ https://www.facebook.com/johnteskemusic
Redirect 301 /ke/fb/ https://www.facebook.com/johnteskemusic

RedirectMatch 301 /ke/?$ //$1
